<!--<div class="stats-container d-flex justify-content-between">
    <div class="stat-item">
        <div class="stat-value">{{total.minutes}} {{total.minutes_label}}</div>
        <div class="stat-label">{{total.label}} ({{total.hours}} {{total.hours_label}})</div>
    </div>
    <div class="stat-item">
        <div class="stat-value">{{average.minutes}} {{average.minutes_label}}</div>
        <div class="stat-label">{{average.label}} ({{average.hours}} {{average.hours_label}})</div>
    </div>
</div>-->